* {
  box-sizing: border-box;
  margin: 0;
}

:root {
--card-background-color: rgb(201, 201, 114);
--card__article-background-color: rgb(201, 201, 114, 0.7);
--card__headline-background-color: rebeccapurple;

/* typography */
--image-column-padding: clamp(1rem, 4vw, 3rem);

          /* containerQuery pairing with JS  */
          --parentOfCardContainerOffsetWidth: 800px;

}

body {
min-width: 100vw;
max-width: 100vw;
}

.parent-of-card-container {
container-type: inline-size;
container-name: parent-of-card-container;
/* width: 100%; */
}

.card-container__headline {
  font-size: var(--fs-lg, clamp(2.5rem, 5vw, 5rem));
}



article :is(h3) {
  font-size: var(--fs-md, clamp(2rem, 4vw, 3rem));
}




.card-container {
container-type: inline-size;
container-name: card_container-container;
display: grid;
grid-template: auto fit-content / 50% 50%;
grid-template-areas: 
"headline headline"
"card card";
background-color: var(--card-background-color);
gap: clamp(1rem, 4vw, 2rem);
}

.parent-of-card-container > .card-container:nth-child(odd){
background-color: var(--card-background-color);
}

.parent-of-card-container > .card-container:nth-child(even){
background-color: var(--card__article-background-color);
}



.card-container__headline {
grid-area: headline;

display: grid;
place-items: center;
font-size: clamp(3rem, 6vw, 6rem);

background-color: var(--card__headline-background-color);
box-shadow: var(--card__headline-background-color) 5px 5px 5px 5px;

}

.card-container__card {
--_image-column--width: 50%;
grid-area: card;
display: grid;
grid-template: 100% / var(--_image-column--width) calc((100%) - var(--_image-column--width));
grid-template-areas: 
"image article"
}

  .parent-of-card-container > .card-container:nth-child(even) > .card-container__card {
container-name: card_container-container;
grid-template: 100% / calc((100%) - var(--_image-column--width)) var(--_image-column--width);
grid-template-areas: 
"article image";
}

.card__image-column {
  box-sizing: content-box;
--_top-bottom-padding: 3rem;
display: grid;
place-items: center;
grid-area: image; 
--image-column-padding: clamp(1.5rem, 4vw, 3rem);
z-index: 1;
/* height: calc(clamp(300px, 850px, 1200px) - var(--size-xxl, 3.5rem)); */
/* height: 200px; */
height: clamp(300px, 300px, 400px);
top: var(--_top-bottom-padding); /* Set the top position to 0 so it sticks to the top of the container */
padding: 0 calc(var(--image-column-padding) / 2) var(--_top-bottom-padding) var(--image-column-padding); 
background-color: transparent;
border-radius: 5px 5px 5px 0px;
}


  .card__image-column[aria-expanded="true"][aria-mobile="false"]{
    position: sticky;
  }

  .card__image-column[aria-mobile="true"][aria-locked="true"] {
    position: sticky;
  }
  .card__image-column[aria-mobile="true"][aria-locked="false"] {
    position: relative;
  }


.card__image-column > :nth-child(1) {
/* box-shadow: -5px 15px 15px 5px; */
border-radius: 20px;
box-shadow: -7.5px 15px 15px 15px;
z-index: -1;
height: 100%;
width: 100%;
background-size: 100% 100%;
/* background-position: 5% 5%; */
background-repeat: no-repeat;
}

.card__image-column[aria-expanded="false"] > .card__image-column-btn--container {
display:none;
}
/* JS Code - read more btn.onClick > card-image__column classlist toggle PS to PR + toggle card__image-column [aria-expanded] to true  */

#test-1 {
background-image: url(/images/try.png);
}

#test-2 {
background-image: url(/images/try2.png);
}
#test-3 {
background-image: url(/images/try3.png);
}

              /* .card > * > img {
                  width: 100%;
                  max-height: 100%;
                  object-fit: contain;
              } */

.card__text-column {
grid-area: article;
padding: 0 calc(var(--image-column-padding) / 2);
background-color: transparent;
}



.card-paragraph {
  display: grid;
  place-content: center;
  /* place-items: center; */
  grid-template-rows: auto fit-content;
  grid-template-columns: 80% 20%;
}

.card-paragraph :is(h3) {
  grid-column: 1 / 2;
}

.card-paragraph__button {
display: grid;
grid-column: 2 / -1;
place-content: center;
justify-content: end;
}

li::after {
  content: "";
  margin-top: 2rem;
  background-color: transparent;
}


.card-paragraph :is(button),
.card__image-column-btn--container :is(button) {
  min-height: 2.5rem;
  max-height: 2.5rem;
  grid-column: 2 / -1;
}

.card__text-column > * > * {
  padding: clamp(0.25rem, 2%, 0.5rem) 0;
  }

.card-paragraph > p {
  margin-block-start: clamp(0.75rem, 3vh, 1.5rem);
  margin-block-end: clamp(0.75rem, 3vh, 1.5rem);
  font-size: var(--fs-sm, clamp(1.5rem, 2vw, 3rem));
  grid-column: 1 / -1;
  line-height:125%;
}




/* utility classes */
.PR {
  position: relative;
}

.PS {
  position: sticky;
}

/* This Width is the controlling size for the window.addEventListenerFunction("resize", () => {
   if(parentOfCardContainer.offsetWidth ) ...
}*/
@container parent-of-card-container (width < 800px) {
.card-container__card {
grid-template: auto 1fr / 100%;
grid-template-areas: 
"image"
"article";
margin: clamp(1rem, 4vw, 2rem);
}

.parent-of-card-container > .card-container:nth-child(even) > .card-container__card {
grid-template: auto 1fr / 100%;
grid-template-areas: 
"image"
"article";
margin: clamp(1rem, 4vw, 2rem);
}

.card-container__headline {
   text-align: center;
}

.card__text-column :is(h3) {
  font-size: var(--fs-md, clamp(2rem, 3vw, 3.5rem));
}

.card__text-column :is(.card-paragraph) > p {
  margin-block-start: clamp(0.75rem, 3vh, 1.5rem);
  margin-block-end: clamp(0.75rem, 3vh, 1.5rem);
  font-size: var(--fs-sm, clamp(1.25rem, 2vw, 2.5rem));
  grid-column: 1 / -1;
  hyphens: auto;
  letter-spacing: 0.1px;
  line-height:125%;
}

.card__image-column {
  --_top-bottom-padding: 1rem;
  --_box-shadow-top: 5px;
  /* prevent the image from scrolling down on mobile view
      (with position relative)
      outcomment position relative to make it scrollable and act as a bookmark but have to fix the width of the image if we consider
  */ 
/* position: relative; */
top: 0;
/* left: 5px; */
}
.PR {
  position: relative;
}
.PS {
  position: sticky;
}

.card__image-column > :is(.card-image) {
  border-radius: 10px 5px 5px 10px;
  box-shadow: -13.5px -3px 7.5px var(--_box-shadow-top);
}

/* Hiding the Scroll to bottom button on mobile view */
.card__image-column > .card__image-column-btn--container {
  display: none;
}

}

@container parent-of-card-container (width > 800px) {
.card-container__card {
--_image-column--width: 40%;
}
}
@container parent-of-card-container (width > 1600px) {
.card-container__card {
--_image-column--width: 30%;
}
}


.card__image-column-btn--container {
  position: absolute;
  display: flex;
  bottom: clamp(-3rem, -25%, -4rem);
    left: var(--image-column-padding);
    width: 85%;
  background-color: transparent;
  justify-content: space-between;
}

.card__image-column[aria-expanded="false"] > .card__image-column-btn--container > * > button {
  /* opacity: 0; */
  animation: hideElement 0.1s ease;
}
.card__image-column[aria-expanded="true"] > .card__image-column-btn--container > * > button  {
  /* opacity: 1; */
  animation: showElement 0.3s ease;
}

@keyframes hideElement {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showElement {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Hiding any but the first Element(excluding the first children's children) of the card-paragraph__parent */
.card-paragraph__parent[aria-expanded="false"] > li:not(:first-child) {
  display: none;
}

/* Hiding the scroll buttons of the parapgraph */
.card-paragraph__parent[aria-expanded="false"] > .card-paragraph :is(.onclick-scroller) {
  display: none;
}


/* .card-paragraph__parent[aria-expanded="false"] > .card-paragraph >  .card-paragraph__expander  */
.card-paragraph__expander {
    --_card-paragraph__expander-width: calc(100% - var(--_card-paragraph__expander-margin) * 2);
    /* Center the expander button by changing the expander-margin % */
    --_card-paragraph__expander-margin: 10%;
    grid-column: 1 / -1;
    width: var( --_card-paragraph__expander-width);
    height: 3rem;
    margin-left: var(--_card-paragraph__expander-margin);
    /* height: 2rem; */
    /* bottom: 10px; */
  }


/* before / after content" read more " / "close "  */
  /* ? ? ? ? Einfügen oder Nicht ? ? ? */

/* Setting ellipsis to the first paragraph of the card-paragraph */
.card-paragraph[aria-expanded="false"] p:first-of-type {
  display: -webkit-box;
-webkit-line-clamp: 6;
-webkit-box-orient: vertical;
overflow: hidden;
}

